[2016-12-09 18:15] p-adams opened #4 "Cannot find module 'react-dev-utils/clearConsole"
Following the installation steps in the README, I create a new project `create-inferno-app`, then I run it `npm start` and I get this error:

    module.js:471
    throw err;
    ^

    Error: Cannot find module 'react-dev-utils/clearConsole'
        at Function.Module._resolveFilename (module.js:469:15)
        at Function.Module._load (module.js:417:25)
        at Module.require (module.js:497:1

[2016-12-09 18:36] busypeoples commented on #4
Yes, I get the same error.

[2016-12-09 22:05] madlotus commented on #4
`npm install --save-dev react-dev-utils`

solves the issue

[2016-12-09 22:11] trueadm commented on #4
@madlotus that's great to hear – have you experienced any other issues with it since doing that?

[2016-12-09 22:40] busypeoples commented on #4
@trueadm After manually installing react-dev-utils everything works fine. But do we need this dependency for inferno to work?

[2016-12-09 22:42] trueadm commented on #4
@busypeoples I can bake this into `create-inferno-app`, it's only a `dev` overhead and shouldn't affect production.

[2016-12-09 23:28] nilz3ro commented on #4
@trueadm Sorry about that, I removed that from packages/inferno-scripts/package.json while debugging the `eject` script.

[2016-12-09 23:35] trueadm commented on #4
@nilz3ro No problem. Would you mind re-adding it in a PR?

[2016-12-09 23:42] nilz3ro commented on #4
@trueadm Working on it right now, I also found a better solution to the module resolution issues in inferno-scripts/scripts/eject. PR incoming :sparkles:

[2016-12-13 13:37] #4 closed

[2016-12-13 16:27] asantos00 opened #7 "README.md - User guide"
Hi!

I've noticed that User Guide's links on README.md are pointing do `facebookincubator`. I don't know if somebody has already noticed that, but I can obviously do it in a PR if you guys want.

Good job with inferno :)

[2016-12-13 16:29] trueadm commented on #7
@asantos00 that would be awesome thanks! :)

[2016-12-13 17:38] asantos00 commented on #7
Done here :)

https://github.com/infernojs/create-inferno-app/pull/8/files

[2016-12-14 13:34] mirkonasato opened #9 "Fails trying to install inferno-scripts"
Creating an app fails:

[code]

Same happens trying to install `inferno-scripts` manually:

[code]

Latest available inferno-scripts version:
[code]

### Environment

[code]

[2016-12-14 13:38] mirkonasato commented on #9
Is this the right repo, or is it [facebookincubator/create-react-app](https://github.com/facebookincubator/create-react-app)?

The [trueadm/inferno readme](https://github.com/trueadm/inferno#getting-started) points to this one.

[2016-12-14 13:49] nilz3ro commented on #9
@mirkonasato I'm able to reproduce this issue with node v7.2.1 and npm 4.0.3, thanks for filing an issue for this.

[2016-12-14 13:49] #7 closed

[2016-12-14 13:50] mirkonasato commented on #9
Same with Node 6.9 and npm 3 by the way.

[2016-12-14 13:51] nilz3ro opened #10 "Generated app still uses React logo"
When you generate an app, there is an animated React logo, we should probably replace this with an Inferno logo and also add an Inferno favicon.

[2016-12-14 13:55] nilz3ro commented on #9
@mirkonasato That leads me to believe it's a problem with the package and not a compatibility issue. Fortunately there's a helpful argument error to point us in the right direction.

[2016-12-14 22:17] Havunen commented on #9
Thanks for reporting this issue.

It has now been fixed. Closing.

[2016-12-14 22:17] #9 closed

[2016-12-14 22:18] Havunen commented on #10
We should definitely make it look and behave more like Inferno. Is this something you could contribute on? Pull requests are welcome :)

[2016-12-14 22:35] nilz3ro commented on #10
@Havunen Yes, no problem. @trueadm Who can add me to the organization on npm for create-inferno-app so I can publish?

[2016-12-14 22:41] Havunen commented on #10
Currently I think only me, nightwolfz and trueadm has rights to publish. But you can push to repo and when its good to go just ping one of us. I believe we will add more people with rights soon in future if needed

[2016-12-14 22:50] trueadm commented on #10
@nilz3ro I've add you to have NPM powers too so you can help on create inferno app :)

[2016-12-14 22:54] nilz3ro commented on #10
@trueadm cool ✨  I'll use them quite responsibly, I only ask because sometimes it's easier to debug dependency issues with a test release.

[2016-12-16 10:27] trueadm opened #11 "Publish new version with Inferno 1.0.0-beta35"
@nilz3ro

I've updated the version of Inferno to use (`@beta34`). Would you mind checking it over and doing a release if looks okay to you?

[2016-12-16 14:46] nilz3ro commented on #11
@trueadm Yes, I can review and publish this evening. I'm in the U.S. East timezone.

[2016-12-16 19:53] lukeed opened #12 "Recompile CSS files within subdirs"
### Description

Watcher does not trigger recompile on sub-level `.css` changes.

[code]

Saving `src/components/Sidebar.css` should trigger the same behaviors as saving `src/App.css`.

---

Easy fix. I just don't have time to right now.

[2016-12-18 09:15] Havunen commented on #10
Fixed. Template now uses Inferno color theme + logo etc.

[2016-12-18 09:15] #10 closed

[2016-12-18 09:16] Havunen commented on #11
Fixed. latest version uses latest babel plugin 1.3.0-beta15 and inferno36.

[2016-12-18 09:16] #11 closed

[2016-12-18 09:28] Havunen commented on #12
I cannot reproduce this. Note that if you have not imported Sidebar from App.js it doesn't trigger. It doesn't trigger recompile if it doesn't change output. Steps to reproduce needed.

[2016-12-25 23:11] abhishekisnot opened #15 "Hot Reloading of CSS and JS not working"
### Can you reproduce the problem with latest npm?

Yes. My environment versions:
[code]
Saw these errors while creating an app
[code]
[code]

### Description

What are you reporting?

On freshly created inferno-app, hot reloading for CSS and JS is not working.

Note: create-react-app works correctly for me.

### Expected behavior

Page should reload with the latest changes.

### Actual behavior

[2016-12-26 08:10] Havunen commented on #15
Hey!

This is known issue Hot reloading modules are currently commented out. It re compiles but doesn't refresh browser. Are you able to send PR for this? I'm currently working on material-ui for Inferno.

[2016-12-26 08:27] flieks opened #16 "server side rendering"
The scripts are working great but how to do server side rendering with them?
I'm using firebase

Thanks in advance

[2016-12-31 05:37] joejsx commented on #15
Workaround:

Place `<script src="http://localhost:3000/webpack-dev-server.js"></script>` in the head of /public/index.html

and uncomment the lines:

`require.resolve('webpack-dev-server/client') + '?/',
    require.resolve('webpack/hot/dev-server'),`

and

`    new webpack.HotModuleReplacementPlugin(),`

in /config/webpack.config.dev.js

For some reason it doesn't seem to be injecting the dev-ser

[2016-12-31 11:35] Havunen commented on #15
Hey, good to hear! Can you send pull request @joejsx so you get credit for the fix :)

[2017-01-05 17:05] hulkish opened #18 "Babel config for JSX not working"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Can you reproduce the problem with latest npm?

Yes, I'm running `npm@4.0.5` and I've ran this: (im  on OSX)
[code]

### Can you still reproduce it?

Yes

### Description

*in-browser* runtime errors related to jsx not being compiled via babel:

[code]

### Expected behavior

App should run

[2017-01-05 21:20] Havunen commented on #15
@joejsx created PR for this and it has been merged. This should be resolved by now :)

[2017-01-05 21:20] #15 closed

[2017-01-05 21:28] Havunen commented on #18
Hey @hulkish what should I do to reproduce the issue in your github repository?

What I tried so far:
I clone the repository.
I did `npm i`
I ran `npm run start` -> browser opened localhost:3000   (basic example renderd, no errors in console)
I ran `npm run build` I got info that production build was successfully made

[2017-01-05 21:41] hulkish commented on #18
@Havunen For me,  I just run:

[code]

No errors during build and it seems like its working -  however in the browser is where the error occurs

... what version of node are u using? i wonder if its. because of the version im using

[2017-01-06 00:50] hulkish commented on #18
I just tried this again with a different version of node (`6.9.3`) and got the same (error'd behavior as I originally reported)

[2017-01-06 08:58] Havunen commented on #18
I previously tried with nodeJS 7.3.0  and npm 4.0.5 on my linux stack. I will try with windows machine nodeJS 7.4.0 now.

[2017-01-06 09:14] Havunen commented on #18
What I have tried so far:

[code]

I have also tried to reproduce this on my Linux stack no luck... what am I doing wrong?

[2017-01-06 09:28] Havunen commented on #18
I started browsing upstream repository and do you think any of these is related?:
https://github.com/facebookincubator/create-react-app/issues/658

Also now when I'm reading your description I noticed this line:
sw.js:1 The script has an unsupported MIME type ('text/html').
http://localhost:3000/sw.js Failed to load resource: net::ERR_INSECURE_RESPONSE

but I don't see sw.js anywhere loaded

[2017-01-06 09:32] lukeed commented on #18
You likely have a service worker still running from a previous project. Clear service workers from within chrome devtools (application > service workers) and then hard reload the page.

This happens to me every once in a while.

[2017-01-06 18:47] #12 closed

[2017-01-06 20:54] Havunen commented on #16
I'm not familiar with SSR using Inferno or React, but I think you can find many skilled developers in that area from our slack. Feel free to join and ask questions there.

link: https://inferno-slack.herokuapp.com/

[2017-01-07 09:58] hulkish commented on #18
@lukeed yep, that was it! That is a pretty sneaky one.. will definitely be making note of that lol

[2017-01-07 10:47] LukeSheard commented on #18
Closing this then. 👍

[2017-01-07 10:47] #18 closed

[2017-01-09 02:14] dfrankland opened #19 "Modify `eject` survey message or URL"
After running `npm run eject` the user has the following message displayed:

[code]

This leads to Facebook's `create-react-app` survey, not Inferno's `create-inferno-app` survey. Perhaps we should remove or create our own survey?

For reference, the line that would need to be changed is here:
https://github.com/infernojs/create-inferno-app/blob/master/packages/inferno-scripts/scripts/eject.js#L15

[2017-01-09 10:36] Havunen commented on #19
This seems to be valid issue, I don't know how to create our own survey. Is this something you could do?

[2017-01-10 20:06] dessalines opened #20 "[Feature Request] Add typescript support to create-inferno-app."
I've found the https://github.com/infernojs/inferno-typescript-example project, but it would be really nice to add typescript and tsx support to this build system. It could be a command line parameter, that makes a typescript project instead, or simply support .ts files and transpile them when necessary.

[2017-01-16 12:10] Tseberechts opened #21 "Yarn stuck"
### Can you reproduce the problem with latest npm?

Yes, npm -v: 4.0.5

### Description

Yarn gets stuck on Installing Inferno-scripts. Currently stuck on: esprima@~3.0.0

### Expected behavior

Yarn should install the Inferno-scripts

### Actual behavior

Yarn gets stuck on esprima@~3.0.0

### Environment

1. `npm ls inferno-scripts` (if you haven’t ejected): `-- (empty)
2. `node -v`: 7.4.0
3. `n

[2017-01-16 12:11] Tseberechts commented on #21
Also regularly gets stuck on spdx-license-ides@1.0.2

[2017-01-16 12:13] trueadm commented on #21
@Tseberechts I had the same issues yesterday but they seem to be fine today after clearing my cache. It might been a network issue with NPM or your local cache?

[2017-01-16 12:27] Tseberechts commented on #21
cleaned npm and yarn cache. no luck

[2017-01-16 12:32] trueadm commented on #21
@Tseberechts could it be a network issue, can you try with a different network? Also does Create React App work fine for you?

[2017-01-16 12:41] Tseberechts commented on #21
- I can't try with a different network as I'm at work.
- Create-react-app works, but only after a few tries

[2017-01-16 12:57] trueadm commented on #21
@Tseberechts I'm not sure what else to say – I've just retried it now and it works fine here. I'm not sure if this issue is related to Windows, I'm on a Mac and don't have a PC to test on. @Havunen can you try on Windows?

[2017-01-16 15:16] Havunen commented on #21
Tested on Microsoft Windows [Version 10.0.14393]   Node 7.4.0  npm 4.0.5 all seems to work. This needs more info.

[2017-01-17 05:28] dfrankland commented on #19
I've copied the survey that React had created and replace "React" with "Inferno". Here's the link: https://goo.gl/forms/8ZQVOOtZssa71NZN2

This can replace the current survey, but I would need to add people as collaborators for them to see the results.

[2017-01-18 18:54] dbismut opened #23 "Webpack 2.0"
Hey - I'm really interested in this, congrats! I've seen that create-react-app is now using webpack 2.0, any plans of doing the same? Just curious, it's not vital considering one of the main objectives of this bootstrap is to *not* care about webpack configuration...

[2017-01-18 19:08] lukeed commented on #23
I'm sure that it can be imported easily, or even rebased from the react version. You're welcome to PR too :)

If you just want to get started with something simpler, you can have a look at my [`inferno-starter`](https://github.com/lukeed/inferno-starter). It's built with Webpack2 but doesn't have all the auto-generation that this repo has.

[2017-01-19 09:41] dbismut commented on #23
Hehe don't know if I'm a good candidate for a PR, don't know much about webpack.

[2017-01-23 20:49] Havunen commented on #21
I merged upstream today and there were couple changes to yarn I think those fixed this issue. If not re-open please. Closing.

[2017-01-23 20:49] #21 closed

[2017-01-23 20:50] Havunen commented on #20
Hey

I have converted the linked repository to use TSX. Please continue discussion regarding that there.

[2017-01-23 20:50] #20 closed

[2017-01-23 20:52] Havunen commented on #23
React version is still using webpack v1. Let's wait till they upgrade and then follow. This package has quite complex scripts written for webpack.

[2017-01-28 09:44] unbewusst opened #24 "SVG xlink:href NOT WORKING raising "TypeError: name.toLowerCase is not a function""
within react, when including an svg "symbol", I've used "xlinkHref" translated to "xlink:href" after transpiling.
this doesn't work within Inferno;
I've found a working solution for the latest Firefox : using simply href, however this doesn't work with other browser, for example Safari Tech Prev.
Is there anyway to use straight "xlink:href" without this error :
Failed to compile.

Error in ./src/I

[2017-01-28 10:11] wasd171 commented on #24
I suppose it is a problem with Inferno dehyphenizing algorithm itself, let me take a look

[2017-01-28 10:58] wasd171 commented on #24
@unbewusst I think I found the reason. Until an updated version is published, could you try just write `xlink:href` and see whether it works for you?

[2017-01-29 05:30] unbewusst commented on #24
2017-01-28 11:58 GMT+01:00 Konstantin Nesterov <notifications@github.com>:

No, it doesn't work :
Failed to compile.

Error in ./src/App.js
Module build failed: TypeError: name.toLowerCase is not a function
    at Array.forEach (native)
 @ ./src/index.js 7:11-27

only one line changed in the code:
let icon = <svg viewBox="0 0 100 100" className={iconClass}><use
xlink:href="icons/sprite.svg#websock

[2017-01-29 09:19] flieks opened #25 "deploy contains readable source code"
Hi,

After `npm run build` and `firebase deploy` i can still read the source (full variable names) in dev tools.
I need to install some extra webpack plugin?

Thanks
Greetings

[2017-01-29 09:22] wasd171 commented on #24
That is really strange, this code works fine in tests. Might be something about create-inferno-app. However, the latest `inferno` build from `dev` branch works with `xlinkHref`, so if you need it ASAP you can pull it and build yourself, unless we publish a new release.

[2017-01-29 09:28] Havunen commented on #25
Hi @flieks thanks for reporting this issue. Can you check is that main file minimized or is it because you have sourcemaps there `.js.map` ?

[2017-01-29 09:46] Havunen commented on #24
This is bug in eslint-plugin

[2017-01-29 10:36] unbewusst commented on #24
Ok thanks for your help, i can wait because "href" is working on Firefox
Dev Ed...

2017-01-29 10:46 GMT+01:00 Sampo Kivistö <notifications@github.com>:

[2017-01-29 18:23] Havunen commented on #24
I have updated inferno-eslint-plugin to `6.9.2` it now has support for name spaced attributes. Closing :)

[2017-01-29 18:23] #24 closed

[2017-01-30 06:50] unbewusst commented on #24
thanks a lot, works great !

2017-01-29 19:23 GMT+01:00 Sampo Kivistö <notifications@github.com>:

[2017-01-30 13:22] flieks commented on #25
Hi @Havunen i removed the .js.map from the build folder and ran firebase deploy again but after hard refresh (Ctrl+F5) in browser, the sourcemaps are still there

[2017-01-30 15:33] flieks commented on #25
Sorry you are right, i did a new npm run build and removed .js.map from the folder. They firebase deploy did remove the source maps. Thanks alot

[2017-01-30 15:33] #25 closed

[2017-02-12 22:54] degroote22 opened #26 "Alias react to inferno-compat"
How about adding this option to the webpack config?
I'm currently ejecting just for this.
It'd be done the same way CRA treats react-native-web.
It's alised but not installed, then the user would have to install inferno-compat to use it but not worry about aliasing.
Inferno-compat is awesome and it makes styled-components, recompose, react-list, rheostat, react-share, react-sizeme work nicely for

[2017-02-15 00:36] viniciusCamargo opened #28 "Yarn dependency"
Hey, folks! It's my first time trying Inferno and it seems really promising. Thank you for that! 😄

I've installed create-inferno-app but I couldn't npm start it because it depends on yarn (?). I haven't found this requirement anywhere in the main readme though. It is working as expected as I installed Yarn, so it's just a heads up. 😄

[2017-02-15 12:11] Rayraegah commented on #23
@lukeed I actually turned your nice starter into a [vue-cli template](https://github.com/Rayraegah/inferno-starter) 📦

[2017-02-16 10:34] sebastianrothe commented on #23
The React team recently switched their code https://github.com/facebookincubator/create-react-app/pull/1291

[2017-02-16 12:38] andriijas commented on #26
I agree, maybe the `create-inferno-app` command could take params to include inferno-router and compat.

[2017-02-16 13:17] degroote22 commented on #26
Including inferno router isn't necessary as it is out of the scope of this application. What I'm proposing is also not the addition of inferno-compat but just the aliasing of React.
It's what's done at this line in create-react-app: https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/config/webpack.config.prod.js#L95

[2017-02-16 13:20] degroote22 commented on #23
@sebastianrothe They've switched it only on their master branch. The latest release is still using webpack1. I guess we should wait for the official release to make the transition here.

[2017-02-16 13:24] degroote22 commented on #28
Could you tell us what was the error provided by npm?

[2017-02-16 13:38] viniciusCamargo commented on #28
Hmm I'm not sure. It's on my personal laptop so I'll check if there's any log left behind when I get home.

[2017-02-16 14:41] degroote22 commented on #28
The code check the existance of a yarn.lock file to determine whether to use yarn or not. Can you confirm that this file was created by create-inferno-app?

[2017-02-16 23:13] sebastianrothe commented on #23
Oh, sorry you are right.

[2017-02-17 00:25] viniciusCamargo commented on #28
Sorry @degroote22 but I couldn't find any log. I've probably removed the directory and reinstalled the package after installing Yarn. Sorry.

[2017-02-17 02:16] LukeSheard commented on #28
There shouldn't be any issue with yarn here, although if you can get your hands on the log that would be really useful.

[2017-02-17 02:54] viniciusCamargo commented on #28
Sorry guys, I've uninstalled yarn and create-inferno-app and took the same steps that led me to those errors but this time everything worked as expected. Maybe there's something cached from the previous install... I don't really know. You can close this issue if you want to. 👍 I should have saved the log. 😒

[2017-02-22 08:23] #28 closed

[2017-03-09 19:51] #26 closed

[2017-03-09 22:26] Havunen commented on #23
New version has been released today with Inferno 1.3.0 and Webpack 2. Also all changes from upstream has been merged.

[2017-03-09 22:26] #23 closed

[2017-03-11 10:04] dbismut opened #29 "inferno-tools"
Hey - just a question : considering that `inferno-tools` is needed to benefit from React chrome extension, wouldn't it make sense to ship it with `create-inferno-app` and requiring it when `process.env.NODE_ENV` is set to `development`?

[2017-03-11 10:24] Havunen commented on #29
Hi @dbismut  thanks for suggestion. We could do this, why not? Can you send PR for it?

[2017-03-11 17:49] dbismut commented on #29
Of course I can try, but I'm no pro developer and not sure where to start. Is looking at the `webpack.config.dev.js` a good idea? Can I require and execute `inferno-devtools` from there? Thanks for your help ;)

[2017-03-13 10:01] dbismut commented on #29
Hi @Havunen, after trying further, I tried to modify the entry from `webpack.config.dev.js` with the following:

[code]

I know that `inferno-devtools` are indeed executed, but for some reason the React extension on Chrome doesn't load. What's weird is that if I copy the distilled code of the `inferno-devtools` nom package into a `devtools.js` file that I put next to the appIndexJs file, and then

[2017-03-13 10:37] Havunen commented on #29
Yeah, I think devtools must be imported from index.js (entry point) before other stuff.

[2017-03-13 10:44] dbismut commented on #29
Well I don't understand why this works 🤕

[code]

and this doesn't:

[code]

[2017-03-13 14:18] dbismut opened #31 "Eject doesn't work"
I realized that `yarn run eject` throws the following error in the console:

[code]

[2017-03-13 15:34] Havunen commented on #31
Looks like babelrc should be renamed to .babelrc

[2017-03-13 15:39] Havunen commented on #29
Ping @longlho hes good with this stuff.

[2017-03-13 15:57] dbismut commented on #31
Well the .babelrc file had been renamed to babelrc in one of the commits from create-react-app. In any case I just found out that this is indeed a bug in create-react-app. See here https://github.com/facebookincubator/create-react-app/issues/1806#issuecomment-286143470

[2017-03-13 16:16] gaearon commented on #31
FYI: I don’t recommend tracking `master` of Create React App and releasing it in forks. Master is never ready. It is much safer to apply your changes on top of the latest stable release.

[2017-03-13 19:01] Havunen commented on #31
Okay, thanks for Info @gaearon

[2017-03-13 19:29] gaearon commented on #31
Yea, sorry about it. I guess it’s not super intuitive. If you have suggestions on how we could do this better please raise an issue.

[2017-03-15 16:54] dbismut opened #32 "remote-tracking the stable branch?"
Following https://github.com/infernojs/create-inferno-app/issues/31#issuecomment-286157896, shouldn't this repo track v0.9.x of create-react-app instead of the master?

[2017-03-15 16:58] Havunen commented on #32
Yeah, thats true. Lets change this after their next major release. That way its easier to merge (only forward no backwards).

[2017-03-18 19:12] corbane opened #33 "host to Github Pages"
Hello !

I test Inferno and create-inferno-app on github pages
https://corbane.github.io/Mainstenant/

But the paths begin at the root of github...
Did I forget something?

thank you!

[2017-03-19 22:44] LukeSheard commented on #33
It's because you've running the page on a sub-route of corbane.github.io/Mainstenant/, if you check the html tag it's trying to read a root url `/static/....` my suggestion would be use an exact url `http://corbane.github.io/Mainstenant/static/....` !

[2017-03-27 02:04] ragrum opened #34 "Links to CHANGELOG file are broken"
When reading the guide I found links to the [CHANGELOG](https://github.com/infernojs/create-inferno-app/blob/master/CHANGELOG.md) file are broken. There's a 404 page instead.

[2017-03-27 14:14] sebastianrothe opened #35 "Proxy doesnt work, after ejecting"
I switched my App to the new version with Inferno 1.4 and Webpack2., but the request to the API are not proxied anymore in development. I have found the corresponding issue in one of the dependant packages: https://github.com/chimurai/http-proxy-middleware/issues/143

As suggested there, if I change config/webpackDevServer.config.js and add this line
[code]

it works again. Can we add this line or

[2017-03-27 21:15] Havunen commented on #35
Can you send PR for this pls :)

[2017-03-28 07:34] sebastianrothe commented on #35
yep, on it

[2017-03-28 10:28] unsafecode opened #36 "Error: Inferno Error: Only one child is allowed within the `Provider` component"
As mentioned in this related issue (https://github.com/infernojs/inferno/issues/973), upgrading to `inferno@1.5.3` (which happens automatically, since the outputted `package.json` refers to `"inferno": "^x.y.z"`) produces the aforementioned error.

Solution should be updating `babel-plugin-inferno` to v3.1.0, as pointed out by @kirill-kruchkov

[2017-03-28 12:05] marcelogft opened #37 "Missing Logo"
Version: 2.0.0
Platform: Win 8 - Node 7.7.4

Compiled with warnings.

Warning in ./src/logo.js

C:\Users\MOCR\my-app\src\logo.js
  1:8  warning  'inferno' is defined but never used  no-unused-vars

✖ 1 problem (0 errors, 1 warning)

 @ ./src/App.js 11:0-26
 @ ./src/index.js
 @ multi ./~/inferno-dev-utils/webpackHotDevClient.js ./~/inferno-scripts/config/polyfills.js ./~/inferno-dev-utils/crashOver

[2017-03-28 14:22] Havunen commented on #37
babel plugin seems to be old version. I will update this repository today.

[2017-03-28 14:23] Havunen commented on #36
Will do today.

[2017-03-28 19:50] Havunen commented on #37
New versions has been released.

[2017-03-28 19:50] #37 closed

[2017-03-28 19:50] Havunen commented on #36
New versions has been released.

[2017-03-28 19:50] #36 closed

[2017-03-29 08:46] marcelogft commented on #37
Fixed now with the new version. :1st_place_medal:
Thanks!

[2017-03-29 22:38] jeffsilva opened #38 "DOS line endings in the npm package files"
The scrips only work on linux after i do a dos2unix on them.
Fedora 25
npm 3.10.10
node v6.10.0

[2017-03-30 05:27] Havunen commented on #38
Sounds like bug

[2017-03-30 05:34] MiLk commented on #38
Same on macOS 10.11.6 with node v6.10.1

[2017-03-30 06:43] Havunen commented on #38
I can look into this today

[2017-03-30 14:16] lanemt opened #39 "create app fails"
After a fresh install of `create-inferno-app`: the create command fails with the error:

`env: node\r: No such file or directory`

[code]

[2017-03-30 16:16] Havunen commented on #39
It should work now.

[2017-03-30 16:16] #39 closed

[2017-03-30 16:16] Havunen commented on #38
Published new version, it should work now.

[2017-03-30 16:16] #38 closed

[2017-04-06 10:37] forsakendaemon opened #40 "Created app crashes immediately on `npm start`"
After installing and running clean following the instructions given, the Inferno app crashes with the following message:

[code]

I'm not certain whether this should be in here, inferno-scripts, or inferno itself, so happy to remove it if it should be somewhere else!

[2017-04-06 11:04] forsakendaemon commented on #40
I've found a triggered eventListener with the caller and arguments `[Exception: TypeError: 'caller' and 'arguments' are restricted function properties and cannot be accessed in this context. at Function.remoteFunction (<anonymous>:2:14)]` but I have absolutely no idea where to go from there.

Sorry I can't be more help!

[2017-04-07 06:22] forsakendaemon commented on #40
Never mind - this was caused by a rogue Chrome extension. Apologies!

[2017-04-07 06:22] #40 closed

[2017-04-07 13:20] Paratron commented on #36
I just checked an inferno app out from my git repository on a new machine and now have the same error. You said new versions have been released, what should I do to make it work again?

[2017-04-08 22:09] windkomo opened #42 "flowtype compilation"
I have an issue using flowtype, it seems it does not get compiled at all.

https://github.com/infernojs/create-inferno-app/pull/41

[2017-04-11 15:35] Havunen commented on #42
Merged, and released. :)

[2017-04-11 15:35] #42 closed

[2017-04-24 14:21] sebastianrothe commented on #35
Sorry my bad. I dit not understand this completely. I was trying to proxy an http server, while the devServer was using https. If i use http for both it works. The snippet above and the issue I referenced was about websockets and proxying them.

[2017-05-04 10:47] #35 closed

[2017-05-07 08:49] KhaledElAnsari opened #44 "enzyme needs react, react-dom and react-addons-test-utils"
Enzyme didn't work without `react`, `react-dom` and `react-addons-test-utils`! I thought `inferno-test-utils` will do the trick but it didn't

can you guys suggest anything? because I think using react and react-dom is an overkill !!

[2017-05-07 15:27] Havunen commented on #44
Somebody should port enzyme, maybe you could?

[2017-05-10 13:12] IgnusG opened #45 "eslint-config-inferno-app img-has-alt rule"
The jsx-a11y's `img-has-alt` rule has been modified to `alt-text` in [version 5.0.0](https://github.com/evcohen/eslint-plugin-jsx-a11y/releases/tag/v5.0.0).

[2017-05-10 14:14] Havunen commented on #45
Hi, thanks for raising issue. Can you send PR to fix it? :)

[2017-05-10 19:53] IgnusG commented on #45
@Havunen I'll have a look at it

[2017-05-12 09:06] IgnusG commented on #45
https://github.com/infernojs/create-inferno-app/pull/46

[2017-05-25 11:58] joaomarcuslf opened #47 "Ejecting give the create-react-app form link"
When ejecting, the URL that appears is the one to create-react-app.

![create-inferno-app-form](https://cloud.githubusercontent.com/assets/12517751/26449389/43e88c22-4128-11e7-8025-a1fccb97f5a3.png)

The URL is: http://goo.gl/forms/Bi6CZjk1EqsdelXk1

[2017-05-25 12:02] #47 closed

[2017-05-25 12:03] joaomarcuslf commented on #47
Later i've found [this issue](https://github.com/infernojs/create-inferno-app/issues/19)

[2017-05-30 05:46] FQ400 commented on #45
@Havunen when do you plan to release the changes?

[2017-05-31 13:34] lbssousa opened #48 "Add PWA support"
Latest create-react-app releases now build a PWA by default. I wonder if you could port this feature to create-inferno-app.

[2017-06-06 11:56] sebastianrothe commented on #48
Is someone already doing a merge with the current version of CRA ?https://github.com/facebookincubator/create-react-app/releases/tag/v1.0.7

[2017-06-06 19:59] LukeSheard commented on #48
@sebastianrothe Happy to take PRs for a merge from CRA!

[2017-06-10 09:11] Havunen commented on #48
I will do fresh merge today

[2017-06-10 16:47] Havunen commented on #48
Updated.

[2017-06-10 16:47] #48 closed

[2017-06-10 16:48] Havunen commented on #45
Released new version, branched from react.

[2017-06-10 16:48] #45 closed

[2017-06-10 16:48] #31 closed

[2017-06-19 16:32] garyrob opened #49 ""Adding Bootstrap" link dead"
The Table Of Contents has an entry for "Adding Bootstrap". When you click it, nothing happens. It appears that the anchor for that entry is simply missing. If you click the sub-entry "Using A Custom Thing" you arrive at a section with that title; above it is some text relating to "Inferno Bootstrap" but it appears inside the section "Global Variables".

So it appears that the anchor and some of th

[2017-06-20 19:10] jcperez-ch opened #50 "inferno-dev-utils/inquirer.js:12"
I tried to run any of the scripts:

`start`, `eject` and it was telling me that inquirer.prompt was not a function.  Then I dig a bit deeper and I found that we were requiring from the wrong module location:

[code]
instead of
[code]

I tried again `yarn start` and all worked again...

[2017-06-20 19:19] LukeSheard commented on #50
Merged #51

[2017-06-20 19:19] #50 closed

[2017-06-20 19:25] jcperez-ch opened #52 "Ejected webpack.config.dev has mistaken resolve.alias"
Seems like a bug on the eject comment annotations:

`@remove-on-eject-begin` and `@remove-on-eject-end` being misplaced on the `config/wepack.config.dev.js` and `config/wepack.config.prod.js` blueprints.

PR To come

[2017-06-20 21:31] LukeSheard commented on #52
Merged in #53

[2017-06-20 21:31] #52 closed

[2017-07-24 09:44] unsafecode opened #54 "Testing react-based components"
Linking to https://github.com/infernojs/inferno/issues/1174

**Observed Behaviour**

When testing components that reference `react`-based components (like `react-bootstrap` ones), Jest reports `Cannot find module 'react' from <whatever>`. It looks like `inferno-compat` is not taken into account when testing.

Additionally, trying to _patch_ Jest configuration in `package.json` like described for P

[2017-07-24 09:45] unsafecode commented on #54
IMHO, `createJestConfig` should be patched (https://github.com/infernojs/create-inferno-app/blob/master/packages/inferno-scripts/utils/createJestConfig.js#L34) to account for `inferno-compat` when installed.

[2017-08-06 22:51] benediktg opened #55 "Question: migration from a React app bootstrapped with create-react-app and Typescript"
I have a React app which I have bootstrapped with
[code]
and would like to see how well it performs with Inferno. (Which means: I am using Typescript but have no webpack config because it is already provided by the Typescript version of react-scripts).

Is there a simple way to do that migration?

[2017-08-09 10:07] Havunen commented on #55
Currently typescript internally compiles everything into `createElement` calls, there is Inferno package to support that. https://www.npmjs.com/package/inferno-create-element Basically you just need to alias the React to inferno.

We also have plans for building our own typescript transformer. https://github.com/infernojs/inferno/issues/1154

createElement calls add overhead to inferno as createEl

[2017-08-09 10:39] benediktg commented on #55
Maybe I have to `yarn eject` so that I can modify the webpack config etc.

[2017-09-03 11:35] JobLeonard opened #57 "Is this supposed to read "React"?"
This passage in the readme file has me a bit confused:

Why wouldn't `create-inferno-app` work with Inferno out of the box, and isn't `inferno-compat` meant for _React?_

Is this the result of an overzealous find/replace or am I missing something?

[2017-09-06 16:17] Havunen commented on #57
[code]
Yeah, I think its just documentation error.

[2017-09-08 12:41] cedvdb commented on #20
so any info on this ? I'd like to use typescript with inferno

[2017-09-08 14:52] Havunen commented on #20
no babel https://github.com/infernojs/inferno/issues/1154
babel https://github.com/infernojs/inferno-typescript-example

[2017-09-13 10:15] rendall commented on #57
I almost skipped this library because of that statement.  'inferno-compat'? I thought.  'Won't that slow down the app?'

[2017-10-15 14:05] Havunen commented on #57
I fixed the doc.

[2017-10-15 14:05] #57 closed

[2017-10-15 14:10] Havunen commented on #34
Fixed link to point upstream (React)

[2017-10-15 14:10] #34 closed

[2017-10-15 14:14] Havunen commented on #54
This will be fixed in todays release.

[2017-10-15 14:14] #54 closed

[2017-10-15 14:17] Havunen commented on #49
I changed user guide links to point upstream React.

[2017-10-15 14:17] #49 closed

[2017-10-15 14:19] Havunen commented on #19
I removed the eject survey. If anybody has issues its better to open issue here, following multiple places is difficult and time consuming.

[2017-10-15 14:19] #19 closed

[2017-10-15 14:22] Havunen commented on #44
@garrensmith is working on this. https://github.com/infernojs/inferno/issues/892

[2017-10-15 14:22] #44 closed

[2017-12-17 11:38] geritol opened #59 "cannot run tests"
Hi!
I did a fresh app through the CLI and the command npm test (or yarn test) do not work.
I am getting the following error message:
`Determining test suites to run...Error: This promise must be present when running with -o.
    at my-project/node_modules/jest-cli/build/search_source.js:202:17
    at Generator.next (<anonymous>)
    at step (my-project/node_modules/jest-cli/build/search_source.js:

[2017-12-18 16:48] Havunen commented on #59
Sounds like bug

[2017-12-31 15:00] Khangeldy opened #60 "inferno-router props.children is Empty"
In development everything works correct. But when i deployed my app into github pages. I get error cause `this.props.children` is empty. [See Open dev console output](http://khangeldy.github.io/latin-not-hot). What i am doing wrong?

Root.js
[code]
App.js
[code]

[2017-12-31 18:07] LukeSheard commented on #60
I think you might need to add the `path="/"` prop to your `App` `Route` component.

[2018-01-01 08:40] Khangeldy commented on #60
Error is a chilren property. It is empty. In above code `cloneVnode` first parameter get null type. I think this problem related to github SPA pages. I solved error by changing browserHistory to hashHistory. And error only reproduced in github pages.

[code]
![screenshot from 2018-01-01 14-34-26](https://user-images.githubusercontent.com/8553348/34466538-b33f362a-ef01-11e7-96b0-ea33c4b00567.png)

[2018-02-04 18:28] azmul commented on #4
Remove node modules. Again run npm install. Then this error will be removed.

[2018-02-15 15:48] andrewlphilpott opened #61 "IE11 Syntax Error"
I'm probably just missing something, but I just tried running a new app created with `create-inferno-app` in IE11 and I'm getting a syntax error. It looks like it’s because of the arrow function in `inferno-dev-utils/node_modules/ansi-regex/index.js`:

[code]

Do I need to add a polyfill or something to get this to work in IE11?

[2018-02-15 16:11] Havunen commented on #61
hmm, that seems to be third party module, used only in development.

[2018-02-15 16:14] andrewlphilpott commented on #61
I assume so, but I haven't tried running it yet.

[2018-02-15 17:57] andrewlphilpott commented on #61
@Havunen Yep, the production build is fine. Probably not a huge deal since it's just development but it may make browser testing a little more cumbersome for anybody needing to support IE11 and down.

[2018-02-22 15:47] jstrangfeld opened #62 "Use jsx-uses-inferno eslint rule"
`eslint-plugin-inferno` provides better eslint rules than the default configuration. In particular, eslint gives the following warning with every component: `'Inferno' is defined but never used  (no-unused-vars)`

There are two solutions:

1) Use .eslintrc configuration from the project root, if present. Currently, custom .eslintrc files are ignored. Allow developers to customize eslint using thei

[2018-02-23 14:15] Havunen commented on #62
Hi @jstrangfeld can you send PR for this?

[2018-02-23 15:40] jstrangfeld commented on #62
I dug into this more and it looks like the rule I am requesting is not enabled by default. I will submit a pull request.

[2018-02-24 11:46] Havunen commented on #62
Wait a minute, I might have misunderstood something here. This error is valid:
```'Inferno' is defined but never used (no-unused-vars)```
because after v4 babel plugin can import what it needs and you dont need `import Inferno from 'inferno'`

[2018-02-26 03:09] kristianmandrup opened #64 "Unclear usage/install instructions"
You demonstrate usage using the `npx` binary.

I assume you mean [npx](https://www.npmjs.com/package/npx) which I had never heard about before. Ah, I see a link on the Readme to this [blog post](https://medium.com/@maybekatz/introducing-npx-an-npm-package-runner-55f7d4bd282b) but had to really look for it...

Please provide better usage instructions, including using the `create-inferno-app` binary

[2018-03-06 15:40] andrewlphilpott opened #65 "Environment variables typos"
The [documentation for environment variables](https://github.com/infernojs/create-inferno-app/blob/master/packages/inferno-scripts/template/README.md#adding-development-environment-variables-in-env) mentions that you need to prepend variable names with `REACT_APP_`, but it looks like the actual prefix is `INFERNO_APP_`. The incorrect prefix is mentioned several times in the doc.

[2018-03-06 16:50] Havunen commented on #65
Thats true... It would be awesome if you can send PR to fix it.

[2018-03-06 16:51] Havunen commented on #64
npx is native program since npm 5.2+ There are instructions on Readme how to use it on older npm version. Also updated websites. https://infernojs.org/docs/guides/installation

[2018-03-06 16:51] #64 closed

[2018-03-06 16:52] Havunen commented on #61
Maybe we should refactor that third party out of this library?

[2018-03-06 19:08] #65 closed

[2018-03-10 17:28] LukeSheard commented on #61
@andrewlphilpott I could imagine that it’s due to a webpack config setting that means node modules aren’t processed by Babel in development but are in production.

[2018-03-21 15:39] steodor opened #67 "Basic usage not working"
Hi, i tried creating an inferno app using this tool but it's generating a broken app.

**Environment:**
- Windows 10
- Chrome 65.0.3325.125 (latest at this time)
- node v9.8.0
- npm v5.7.1
- npx v9.7.1

**Steps:**
1. `npx create-inferno-app test`
2. `cd test`
3. `npm start`

**Expected behavior:** `localhost:3000` should load a working inferno-based app
**Actual behavior:** the local server starts

[2018-03-21 17:17] Havunen commented on #67
Strange, I cannot reproduce this in Windows / Linux

[2018-03-22 13:06] jstrangfeld commented on #62
Closed in #63

[2018-03-22 13:06] #62 closed

[2018-03-26 09:20] steodor commented on #67
Maybe it's environment-specific. I suggest closing it after a while if nobody else reports having the same issue. Thank you.

[2018-04-19 13:30] egiathamaershada opened #68 "cannot use test after fresh install, --watch is not supported without git/hg, please use --watchAll"
using yarn test or npm test after fresh install gives this error

test can be started if I initialize repository or using --watchAll which is not needed in create-react-app

[2018-04-26 14:10] jmhdev opened #69 "Create-Inferno-App failing install with Node v.10 due to upath@1.0.4"
I receive the following error message when using create-inferno-app after install new Node version:

yarn add v1.6.0
(node:29860) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.
info No lockfile found.
[1/4] Resolving packages...
[2/4] Fetching packages...
info fsevents

[2018-07-03 08:23] sprlwrksAprilmintacpineda opened #70 "start inferno-scripts with host flag without using dnsmasq"
is it possible to give a --host sub.domain.local to inferno-scripts start so that it starts in http://sub.domain.local:3000 instead of http://localhost:3000?

[2018-07-04 08:54] sprlwrksAprilmintacpineda commented on #70
I found the answer to my question -> https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-development-environment-variables-in-env

[2018-07-04 08:54] #70 closed

[2018-07-04 09:26] sprlwrksAprilmintacpineda opened #71 ".env variables not present in process.env"
**my `.env` file**

[code]

**my `src/index.js` file**

[code]

**I only see**

[code]

**I should see**

my defined variable, `SESSION_POLLING_TIMEOUT` and `PUBLIC_URL` available there.

[2018-07-04 09:29] sprlwrksAprilmintacpineda commented on #71
solution: prefix the variables with `INFERNO_APP_` then it's available as `process.env.INFERNO_APP_VARNAME`. Can this be overridden? I don't want every variables to have `INFERNO_APP_` in their name.

[2018-07-04 09:52] Havunen commented on #71
The scripts use webpack under the hood. Are you familiar with webpack? Maybe you could try fix this?

[2018-07-04 10:52] sprlwrksAprilmintacpineda commented on #71
@Havunen  Hmmm, maybe I can if I can find that part, I don't even know where the webpack configs are...

[2018-07-05 07:28] sprlwrksAprilmintacpineda opened #72 "can we specify a custom build path for "inferno-scripts build"?"
i.e., `inferno-scripts build --path build/some-folder`.

[2018-07-05 10:48] sprlwrksAprilmintacpineda opened #73 "make process.env available in sass?"
https://stackoverflow.com/questions/35750455/is-it-possible-to-inject-node-env-param-into-sass-file-using-webpack-sass-load

[2018-07-05 10:58] sprlwrksAprilmintacpineda opened #74 "PUBLIC_URL defined on .env is not on process.env"
**.env**

[code]

`process.env`

![screen shot 2018-07-05 at 6 56 36 pm](https://user-images.githubusercontent.com/39720421/42319714-63af72b2-8085-11e8-9ecf-675116d120ba.png)

[2018-07-06 13:48] egiathamaershada commented on #68
can't confirm what fixed or caused this but it works well using the latest version
closing this one

[2018-07-06 13:48] #68 closed

[2018-08-08 08:06] sprlwrksAprilmintacpineda opened #76 ".babelrc"
## Abstract

Babel helpers, like `_extends`, causes duplications when you use them everywhere on different files then import those files on another file that uses it, this actually causes duplicate codes on the build, I checked it and saw these on `main.js`

[code]

[code]

I simply did a search for **Object.assign ||** and saw that there where 6 occurences on `main.js` alone! This is a big no-no,

[2018-08-08 08:41] Havunen commented on #76
If you want optimal output, you might want to consider rollup IIFE format + custom set of plugins (no preset) for babel. This way you get only once per application those helpers inlined. Also "typeof" babel plugin creates a lot of overhead. We simply removed it, but then you cannot use typeof for Symbols. I'm not sure if we can apply those patterns into this create-inferno-app, but you can definit

[2018-08-08 09:27] sprlwrksAprilmintacpineda commented on #76
hmmm, if I use rollup and custom babel config, that would mean I would need to eject, right?

[2018-08-08 11:04] Havunen commented on #76
@sprlwrksAprilmintacpineda yeah, it might be easier to just do everything yourself.. :/

[2018-08-08 11:06] Havunen commented on #76
I will make a inferno starter project based on rollup and stuff, we use in our company... but there is so much to do atm. So that has lower priority

[2018-08-08 23:48] aprilmintacpineda commented on #76
@Havuven maybe we could just do that with inferno-scripts?

[2018-09-27 09:08] sprlwrksAprilmintacpineda opened #77 "My function call transpiled to (void, 0)"
## From

![image](https://user-images.githubusercontent.com/39720421/46133999-6f0e4080-c274-11e8-8b49-16d984fcc2c9.png)

## To

![image](https://user-images.githubusercontent.com/39720421/46134040-8b11e200-c274-11e8-97fe-f302853554b3.png)

It happens when I do this:

[code]

Notice the `displayCorrectSplashImage` function, that's the one with the issue. If I move it out of the if statement like so

[2018-09-27 09:08] sprlwrksAprilmintacpineda commented on #77
@Havunen I'm not sure if this is a problem with inferno-script or tools that it uses.

[2018-10-04 03:02] sprlwrksAprilmintacpineda opened #78 "Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"
I have been experiencing this error recently. I have not experienced this error before.

[code]

### Inferno meta

- inferno-scripts^6.3.2
- inferno-shared^5.6.1
- webpack^4.20.2
- inferno-devtools^5.6.1

[2018-10-04 05:39] Havunen commented on #78
Only thing we could do here is to increase heap size.

[2018-10-15 03:01] aprilmintacpineda opened #79 "What's this code that was injected in index.html on build?"
# Migrated from

https://github.com/infernojs/inferno/issues/1397

----

**This is a question and not a bug report**

After migrating to v6 I saw that index.html has this -->

![image](https://user-images.githubusercontent.com/21032419/46927749-a0a34c00-d069-11e8-9239-a380855a9e59.png)

1.[hash].js is inferno itself and main.[hash].js is the actual app, right? On build I saw that there's also runt

[2018-11-02 07:06] aprilmintacpineda commented on #79
Now that I created my own build settings using webpack. I know what this is. This is basically the `runtime` injected in my html file.

[2018-11-02 07:06] #79 closed

[2018-12-18 16:21] softgandhi commented on #78
how to increase the heap size?

[2018-12-18 16:37] Havunen commented on #78
This is how its done using plain NodeJS, but I don't know how to apply it to this project. Eject might be the only way...

`node --stack_size=8192 --max-old-space-size=8192 file.js`

[2018-12-19 02:07] aprilmintacpineda commented on #78
Or you can create a config and use build file instead of in-memory.

[2019-05-10 15:25] tamb opened #80 "Doesnt install inferno-create-element"
This should really install all the popular inferno packages.

[2019-05-11 06:40] Havunen commented on #80
@tamb yeah maybe. Do you want to create PR?

[2019-05-26 04:54] #80 closed

[2019-05-26 05:46] tamb opened #81 "How do I use Linaria or Astroturf with this webpack setup?"
I've ejected and I can't seem to figure out how to add either of these CSS-in-JS libraries
https://github.com/callstack/linaria
https://github.com/4Catalyzer/astroturf

I keep getting issues with the `css` tag not being supported and that the babel loaders are not set up correctly.  Could someone paste an example of how to actually set one of these up?

[2019-07-03 19:22] tamb opened #82 "Pretty far behind the fork of create-react-app"
For starters, ejecting the app shows that the webpack configs are way too separate.  If I need an alias I have to write it in 2 files or create a new file and import it into both files.  This is a no go.

[2019-07-04 19:24] Havunen commented on #82
@tamb would you like to create PR for latest changes? There is not many differences between Inferno and React. I'm traveling currently, I can look into this in month time frame If you cant :)

[2019-08-05 19:19] tamb commented on #82
@Havunen Should that be done with a fork of create-react-app or a fork of this?  What's the better way to approach it?

[2019-08-05 19:47] Havunen commented on #82
Good question. Usually I have just merged latest changes from React side here. Doing a merge commit.

Fork this repo. Add this as another remote. Add React as another remote. Then merge from React to your repo and open PR.

[2019-08-05 19:48] Havunen commented on #82
There might be better ways to do it, but thats what I have done

[2019-08-06 01:14] tamb commented on #82
Cool.  I'll try to get on that approach and make a pr in my spare time.

[2019-08-10 15:52] Havunen commented on #82
I will create new fork of inferno-eslint-plugin and then try to get this repo updated. Hopefully tomorrow

[2019-08-11 21:10] Havunen commented on #82
eslint-plugin-inferno is now up to date, and way faster than before :)
next we need to get this repo up to date.

[2019-08-12 17:15] Havunen commented on #82
@tamb Have you started the fork? How did it go?

[2020-01-01 20:28] Razican commented on #82
Is there news in this regard?

[2020-01-01 20:49] Razican commented on #55
Inferno now has its own typescript transformer, right? It would be nice if create-inferno-app allowed creating an application with typescript and JSX by default.

[2020-01-02 20:31] tamb commented on #82
I have not started the fork.  It was a long process. I'm sorry.  I let the Inferno Team down

[2020-01-03 11:22] Razican commented on #82
@tamb don't worry. Nobody else did it as far as it seems. It would be great to have it now. I wouldn't know where to start though.

[2020-06-27 23:39] arjunmehta94 opened #83 "Inferno compat question"
i'm facing a pretty basic problem with rendering react components.

I'm trying to use a [react component](https://github.com/react-component/color-picker) in my create-inferno-app app. I installed the inferno-compat library and am able to successfully import the react component but it never seems to render (div has 0 height on inspection). Not sure if I'm missing a step here

[2020-06-27 23:42] arjunmehta94 commented on #83
<img width="219" alt="Screen Shot 2020-06-27 at 4 42 01 PM" src="https://user-images.githubusercontent.com/5506399/85934237-33fbcf80-b895-11ea-9200-3f220f0da88c.png">
<img width="790" alt="Screen Shot 2020-06-27 at 4 41 45 PM" src="https://user-images.githubusercontent.com/5506399/85934238-33fbcf80-b895-11ea-9aad-cb2cdea50421.png">

[2020-06-27 23:45] arjunmehta94 commented on #83
I'm importing the component like
[code]

and then using it in the render component like
[code]

[2020-06-28 21:18] Havunen commented on #83
Hi,

Have you tried does that component work in latest version of React?
There can be so many reasons why this fails, it needs more information. Somebody needs to debug what is different.

[2020-09-06 21:32] #74 closed

[2021-02-05 12:02] zolodeveloper commented on #69
it worked

[2021-08-11 09:31] gkkirilov opened #85 "Anyone deployed inferno on Google App Engine?"
Looking for repos or guides on how to deploy it on App Engine

[2022-11-16 08:01] farooqkz commented on #29
As `inferno-devtools` has been retired, I think this issue is not valid anymore?

[2022-11-16 08:04] farooqkz opened #87 "inferno-dev-utils/formatWebpackMessages support for webpack 5.x"
The package expects each `error` or `warning` message to be a String:

https://github.com/infernojs/create-inferno-app/blob/master/packages/inferno-dev-utils/formatWebpackMessages.js#L20

While in webpack 5.x, it is an Object with a `message` entry:

https://raw.githubusercontent.com/webpack/analyse/master/app/pages/upload/example2.json

I think it must be updated to detect if the elements of `sta

[2022-11-16 08:40] farooqkz opened #89 "Test with new versions of Node with CI/CD"
After opening my PR, I realized that the tests are done with extremely ancient versions of Node. I suggest adding tests for recent versions of Node. Also Github now has its own CI/CD service(Github Actions).

[2022-11-16 08:42] farooqkz commented on #61
As IE has been obsolete, I think this issue is not valid anymore.

[2022-11-16 11:00] farooqkz opened #90 "Dependencies must be upgraded"
CIA uses several important dependencies which have newer versions. Some like webpack must be upgraded to 5.x before 4.x gets deprecated. Some like babel related stuff already have been deprecated or their packages habe been moved on npm.

[2022-11-16 13:27] farooqkz commented on #90
I will write things which are deprecated(might be incomplete). Will update this message as I find more.

Current list:

 - `eslint-loader` has been deprecated
 - `webpack` must be upgraded to 5.x
 - ...

[2022-11-16 14:17] Havunen commented on #90
It might be easier to rebase the fork from the upstream rather than start updating dependencies here

[2022-11-16 14:18] farooqkz commented on #90
Well I've ejected my app and I have to update dependencies myself anyway...

[2022-11-21 06:02] #87 closed

[2022-11-30 05:28] farooqkz commented on #90
Related: https://github.com/infernojs/babel-plugin-inferno/issues/62

@Havunen thoughts?